In [1]:
import pandas as pd

df = pd.read_csv("../data/all_india_cpi.csv")
df.head()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,NaN,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,NaN,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sector                               369 non-null    object
 1   Year                                 369 non-null    int64
 2   Month                                369 non-null    object
 3   Cereals and products                 366 non-null    float64
 4   Meat and fish                        363 non-null    float64
 5   Egg                                  366 non-null    float64
 6   Milk and products                    366 non-null    float64
 7   Oils and fats                        366 non-null    float64
 8   Fruits                               366 non-null    float64
 9   Vegetables                           366 non-null    float64
 10  Pulses and products                  366 non-null    float64
 11  Sugar and Confectionery              366 non-null    float64
 12  Spices                               366 non-null    float64
 13  Non-alcoholic beverages              366 non-null    float64
 14  Prepared meals, snacks, sweets etc.  363 non-null    float64
 15  Food and beverages                   366 non-null    float64
 16  Pan, tobacco and intoxicants         363 non-null    float64
 17  Clothing                             363 non-null    float64
 18  Footwear                             363 non-null    float64
 19  Clothing and footwear                363 non-null    float64
 20  Housing                              247 non-null    object
 21  Fuel and light                       366 non-null    float64
 22  Household goods and services         363 non-null    float64
 23  Health                               366 non-null    float64
 24  Transport and communication          363 non-null    float64
 25  Recreation and amusement             363 non-null    float64
 26  Education                            363 non-null    float64
 27  Personal care and effects            363 non-null    float64
 28  Miscellaneous                        363 non-null    float64
 29  General index                        363 non-null    float64
dtypes: float64(26), int64(1), object(3)
memory usage: 86.6+ KB

In [3]:
df = df[df['Sector'] == 'Rural+Urban']

In [4]:
df['Sector'].unique()

array(['Rural+Urban'], dtype=object)

In [5]:
df['Date'] = pd.to_datetime(
    df['Year'].astype(str) + '-' + df['Month'],
    format='%Y-%B'
)

df.set_index('Date', inplace=True)

ValueError: time data "2014-Marcrh" doesn't match format "%Y-%B", at position 14. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df['Date'] = pd.to_datetime(
    df['Year'].astype(str) + '-' + df['Month'],
    errors='coerce'
)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11908\245549504.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
df.isna().sum()

Sector                                 0
Year                                   0
Month                                  0
Cereals and products                   1
Meat and fish                          2
Egg                                    1
Milk and products                      1
Oils and fats                          1
Fruits                                 1
Vegetables                             1
Pulses and products                    1
Sugar and Confectionery                1
Spices                                 1
Non-alcoholic beverages                1
Prepared meals, snacks, sweets etc.    2
Food and beverages                     1
Pan, tobacco and intoxicants           2
Clothing                               2
Footwear                               2
Clothing and footwear                  2
Housing                                1
Fuel and light                         1
Household goods and services           2
Health                                 1
Transport and communication            2
Recreation and amusement               2
Education                              2
Personal care and effects              2
Miscellaneous                          2
General index                          2
dtype: int64

In [ ]:
df.index = df.index.fillna(method='ffill')

TypeError: Index.fillna() got an unexpected keyword argument 'method'

In [ ]:
df = df[~df.index.isna()]

In [ ]:
df.isna().sum()

Sector                                 0
Year                                   0
Month                                  0
Cereals and products                   1
Meat and fish                          2
Egg                                    1
Milk and products                      1
Oils and fats                          1
Fruits                                 1
Vegetables                             1
Pulses and products                    1
Sugar and Confectionery                1
Spices                                 1
Non-alcoholic beverages                1
Prepared meals, snacks, sweets etc.    2
Food and beverages                     1
Pan, tobacco and intoxicants           2
Clothing                               2
Footwear                               2
Clothing and footwear                  2
Housing                                1
Fuel and light                         1
Household goods and services           2
Health                                 1
Transport and communication            2
Recreation and amusement               2
Education                              2
Personal care and effects              2
Miscellaneous                          2
General index                          2
dtype: int64

In [ ]:
df.head()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
2013-02-01,Rural+Urban,2013,February,110.4,110.2,112.8,104.9,105.5,103.6,103.2,...,100.4,106.0,105.2,104.5,104.2,103.6,103.9,104.5,104.4,105.3
2013-03-01,Rural+Urban,2013,March,111.4,109.7,111.2,105.1,104.9,105.3,102.2,...,100.4,106.1,105.6,104.9,105.1,103.7,104.0,104.3,104.7,105.5
2013-04-01,Rural+Urban,2013,April,111.6,110.9,106.6,105.7,104.4,108.9,105.5,...,100.5,106.5,106.3,105.3,104.7,104.2,105.0,102.9,104.8,106.1
2013-05-01,Rural+Urban,2013,May,112.3,111.3,104.7,106.8,103.9,109.3,112.9,...,100.5,107.4,106.9,105.9,104.0,104.8,105.6,102.3,104.8,106.9

In [ ]:
df.index.min(), df.index.max()

(Timestamp('2013-01-01 00:00:00'), Timestamp('2023-04-01 00:00:00'))

In [ ]:
df.shape

(122, 30)

In [ ]:
df.isna().sum()

Sector                                 0
Year                                   0
Month                                  0
Cereals and products                   1
Meat and fish                          2
Egg                                    1
Milk and products                      1
Oils and fats                          1
Fruits                                 1
Vegetables                             1
Pulses and products                    1
Sugar and Confectionery                1
Spices                                 1
Non-alcoholic beverages                1
Prepared meals, snacks, sweets etc.    2
Food and beverages                     1
Pan, tobacco and intoxicants           2
Clothing                               2
Footwear                               2
Clothing and footwear                  2
Housing                                1
Fuel and light                         1
Household goods and services           2
Health                                 1
Transport and communication            2
Recreation and amusement               2
Education                              2
Personal care and effects              2
Miscellaneous                          2
General index                          2
dtype: int64

In [ ]:
df = df[['General index']]

In [ ]:
df.rename(columns={'General index': 'CPI'}, inplace=True)

In [ ]:
df.shape

(122, 1)

In [ ]:
df.isna().sum()

CPI    2
dtype: int64

In [ ]:
df['CPI'].fillna(method='ffill', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11908\1082350668.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CPI'].fillna(method='ffill', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_11908\1082350668.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['CPI'].fillna(method='ffill', inplace=True)

In [ ]:
df.isna().sum()

CPI    0
dtype: int64

In [ ]:
df.shape

(122, 1)

In [ ]:
df.head()

              CPI
Date
2013-01-01  104.6
2013-02-01  105.3
2013-03-01  105.5
2013-04-01  106.1
2013-05-01  106.9

In [ ]:
df.tail()

              CPI
Date
2022-12-01  175.7
2023-01-01  176.5
2023-02-01  177.2
2023-03-01  177.2
2023-04-01  178.1

In [ ]:
df.to_csv("../data/final_all_india_cpi.csv")